Source: arrayfire
Section: science
Priority: optional
Maintainer: Debian Science Maintainers <debian-science-maintainers@lists.alioth.debian.org>
Uploaders: Ghislain Antony Vaillant <ghisvail@gmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
               doxygen,
               libboost-dev,
               libcompute-dev,
               libfftw3-dev,
               libfreeimage-dev,
               liblapacke-dev,
               libopenblas-dev | libatlas-base-dev | libblas-dev,
               pkg-config
Standards-Version: 3.9.6
Homepage: http://arrayfire.com/
Vcs-Git: git://anonscm.debian.org/debian-science/packages/arrayfire.git
Vcs-Browser: https://anonscm.debian.org/cgit/debian-science/packages/arrayfire.git

Package: libarrayfire-cpu-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libarrayfire-cpu3 (= ${binary:Version}),
         libarrayfire-dev,
         ${misc:Depends}
Suggests: libarrayfire-doc
Description: Development files for ArrayFire (CPU backend)
 ArrayFire is a high performance software library for parallel computing
 with an easy-to-use API. Its array based function set makes parallel
 programming simple.
 .
 ArrayFire's multiple backends (CUDA, OpenCL and native CPU) make it
 platform independent and highly portable.
 .
 A few lines of code in ArrayFire can replace dozens of lines of parallel
 computing code, saving you valuable time and lowering development costs.
 .
 This package provides the development files for the CPU backend of the
 ArrayFire library.

Package: libarrayfire-cpu3
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: High performance library for parallel computing (CPU backend)
 ArrayFire is a high performance software library for parallel computing
 with an easy-to-use API. Its array based function set makes parallel
 programming simple.
 .
 ArrayFire's multiple backends (CUDA, OpenCL and native CPU) make it
 platform independent and highly portable.
 .
 A few lines of code in ArrayFire can replace dozens of lines of parallel
 computing code, saving you valuable time and lowering development costs.
 .
 This package provides the CPU backend of the ArrayFire library.

Package: libarrayfire-cpu3-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends: libarrayfire-cpu3 (= ${binary:Version}),
         ${misc:Depends}
Description: Debugging symbols for ArrayFire (CPU backend)
 ArrayFire is a high performance software library for parallel computing
 with an easy-to-use API. Its array based function set makes parallel
 programming simple.
 .
 ArrayFire's multiple backends (CUDA, OpenCL and native CPU) make it
 platform independent and highly portable.
 .
 A few lines of code in ArrayFire can replace dozens of lines of parallel
 computing code, saving you valuable time and lowering development costs.
 .
 This package provides the debugging symbols for the CPU backend of the
 ArrayFire library.

Package: libarrayfire-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libarrayfire-cpu-dev | libarrayfire-opencl-dev,
         ${misc:Depends},
Suggests: libarrayfire-doc
Description: Development files for ArrayFire
 ArrayFire is a high performance software library for parallel computing
 with an easy-to-use API. Its array based function set makes parallel
 programming simple.
 .
 This package provides development files that are common to ArrayFire's
 CPU and OpenCL backends.

Package: libarrayfire-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends: libjs-jquery,
         libjs-mathjax,
         ${misc:Depends}
Description: Common documentation for ArrayFire
 ArrayFire is a high performance software library for parallel computing
 with an easy-to-use API. Its array based function set makes parallel
 programming simple.
 .
 ArrayFire's multiple backends (CUDA, OpenCL and native CPU) make it
 platform independent and highly portable.
 .
 A few lines of code in ArrayFire can replace dozens of lines of parallel
 computing code, saving you valuable time and lowering development costs.
 .
 This package provides the documentation for the ArrayFire library.

Package: libarrayfire-opencl3
Section: libs
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends},
         ${shlibs:Depends}
Description: High performance library for parallel computing (OpenCL backend)
 ArrayFire is a high performance software library for parallel computing
 with an easy-to-use API. Its array based function set makes parallel
 programming simple.
 .
 This package provides the OpenCL backend of the ArrayFire library.

Package: libarrayfire-opencl-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libarrayfire-opencl (= ${binary:Version}),
         opencl-dev,
         ${misc:Depends}
Suggests: libarrayfire-doc
Description: Development files for ArrayFire (OpenCL backend)
 ArrayFire is a high performance software library for parallel computing
 with an easy-to-use API. Its array based function set makes parallel
 programming simple.
 .
 This package provides the development files for the OpenCL backend of the
 ArrayFire library.
